<div class="timeline">
  <div class="timeline-month">
    Start: <b>{{start}}</b>
    <span>AEM: <b>9026</b> | Duration: <b>{{duration}}</b></span>
  </div>

  {{#each events}}
      {{> Event}}
  {{/each}}

</div>
