<div class="timeline">
  <div class="timeline-month">
    Start: <b>{{start}}</b>
    <span>AEM: <b>{{#pad_zeros}}{{client_aem}}{{/pad_zeros}}</b> | Duration: <b>{{duration}}</b></span>
  </div>

  {{#each events}}
      {{> Event}}
  {{/each}}

</div>
